@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f0ebeb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.landingImage{
  z-index: -1;
} 
.landingDiv {
  z-index: 1;
  position: relative;
}
.anish-logo {
  width: 200px;
  height: 200px;
}
.experience-container {
  padding-left: 350px;
  padding-right: 350px;
}
.experience-container h1 {
  font-weight: 600;
}
.experience-container ul {
  padding-left: 35px;
}
.education-container {
  padding-left: 350px;
  padding-right: 350px;
}
.projects-container {
  padding-left: 350px;
  padding-right: 350px;
}
.education-container h1 {
  font-weight: 600;
}
.experience-box{
  border: #a0a0a0 solid 2px;
  margin-top: 1rem;
  padding: 30px;
}
.experience-box h3{
  font-weight: 600;
}
.education-box{
  border: #fff solid 2px;
  margin-top: 1rem;
  padding: 30px;
}

.project-box {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  width: 400px;
  height: 200px;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.project-box:hover {
  transform: scale(1.03);
  background-color: #e0e0e0;
}

.project-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.project-box p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}
.intro-box {
  max-width: 900px;
}